<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/main.css"/>
  {% block styles %}{% endblock styles %}
  <link rel="stylesheet" type="text/css" href="/style/responsive.css"/>
  {% block title %}
    <title>Ecoleta - Figma</title>
  {% endblock title %}
</head>

<body>
  <div id="{{pageId}}" class="{{pageId}}">
    {% block content %}
    {% endblock content %}
  </div>
  {% block modal %}
  {% endblock modal %}

  {% block scripts %}
  {% endblock scripts %}
</body>

</html>
